@page "/charttest"

@using ApexCharts

<h3>ApexChartsTest</h3>

@* <ApexChart TItem="MyData"
           Title="Sample Data">

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Net Profit"
                     SeriesType="SeriesType.Line"
                     XValue="e => e.Category"
                     YValue="e=> e.NetProfit" />

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Revenue"
                     SeriesType="SeriesType.Line"
                     XValue="e => e.Category"
                     YValue="e=> e.Revenue" />
</ApexChart> *@

<ApexChart TItem="MyData"
           Title="Sample Data"
           Options="@options">

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Gross Value"
                     SeriesType="SeriesType.Line"
                     XValue="e => e.Category"
                     YValue="e=> e.NetProfit"
                     OrderByDescending="e=>e.Y" />
</ApexChart>

@code {
    private List<MyData> Data { get; set; } = new();
    private ApexChartOptions<MyData> options;
    protected override void OnInitialized()
    {
        options = new ApexChartOptions<MyData>
            {
                Chart = new Chart
                {
                    Height = 350,
                    Width = 500
                }
            };

        Data.Add(new MyData { Category = "Jan", NetProfit = 12, Revenue = 33 });
        Data.Add(new MyData { Category = "Feb", NetProfit = 43, Revenue = 42 });
        Data.Add(new MyData { Category = "Mar", NetProfit = 112, Revenue = 23 });
    }

    public class MyData
    {
        public string Category { get; set; }
        public int NetProfit { get; set; }
        public int Revenue { get; set; }
    }
}
